html body {
    max-width: 1500px;
    margin-top: 50px;
    margin-left: 0px;
}

.wave-main {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
}

.wave {
    width: 1500px;
    height: 500px;
    margin: 0px;
    background: rgb(204, 45, 207);
    background: linear-gradient(158deg, rgba(204, 45, 207, 1) 32%, rgba(148, 45, 191, 1) 89%);
}






